:root {
  --primary: rgb(255 255 255 / 100%);
  --primary-bg: rgb(68 68 68 / 100%);
  --error: rgb(198 48 49 / 100%);
  --accent: rgb(198 48 49);
  --accent-opacified: rgb(198 48 49 / 4%);
  --secondary: rgb(118 118 118);
  --secondary-opacified: rgb(118 118 118 / 4%);
  --btn-bg: rgb(138 33 34);
  --btn-bg-secondary: rgb(82 82 82);
  --btn-contained-text: rgb(255 255 255 / 100%);
  --btn-disabled-primary: rgb(0 0 0 / 26%);
  --btn-disabled-secondary: rgb(0 0 0 / 12%);
}
