.button {
  cursor: pointer;

  position: relative;

  overflow: hidden;

  min-width: 220px;
  height: 48px;
  border-radius: 40px;

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
  letter-spacing: 0.02857em;

  outline: none;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.contained {
  border: none;
  box-shadow:
    rgb(0 0 0 / 20%) 0 3px 1px -2px,
    rgb(0 0 0 / 14%) 0 2px 2px 0,
    rgb(0 0 0 / 12%) 0 1px 5px 0;
}

.outlined {
  border: 1px solid currentcolor;
  background-color: transparent;
}

.text {
  border: none;
  background-color: transparent;
}

.primary {
  &.contained {
    color: var(--btn-contained-text);
    background-color: var(--accent);

    &:hover {
      background-color: var(--btn-bg);
    }

    &:disabled {
      color: var(--btn-disabled-primary);
      background-color: var(--btn-disabled-secondary);
    }
  }

  &.outlined {
    border-color: rgba($color: var(--accent), $alpha: 50%);
    color: var(--accent);

    &:hover {
      border-color: var(--accent);
      background-color: var(--accent-opacified);
    }

    &:disabled {
      border-color: var(--btn-disabled-secondary);
      color: var(--btn-disabled-primary);
    }
  }

  &.text {
    color: var(--accent);
    background-color: transparent;

    &:hover {
      background-color: var(--accent-opacified);
    }

    &:disabled {
      color: var(--btn-disabled-primary);
      background-color: var(--accent-opacified);
    }
  }
}

.secondary {
  &.contained {
    color: var(--btn-contained-text);
    background-color: var(--secondary);

    &:hover {
      background-color: var(--btn-bg-secondary);
    }

    &:disabled {
      color: var(--btn-disabled-primary);
      background-color: var(--btn-disabled-secondary);
    }
  }

  &.outlined {
    border-color: rgba($color: var(--secondary), $alpha: 50%);
    color: var(--secondary);

    &:hover {
      border-color: var(--secondary);
      background-color: var(--secondary-opacified);
    }

    &:disabled {
      border-color: var(--btn-disabled-secondary);
      color: var(--btn-disabled-primary);
    }
  }

  &.text {
    color: var(--secondary);
    background-color: transparent;

    &:hover {
      background-color: var(--secondary-opacified);
    }

    &:disabled {
      color: var(--btn-disabled-primary);
      background-color: var(--secondary-opacified);
    }
  }
}

.ripple {
  pointer-events: none;

  position: absolute;
  transform: scale(0);

  border-radius: 50%;

  animation: ripple-effect 600ms linear;
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.primary.contained .ripple {
  background-color: var(--btn-ripple-primary-contained);
}

.primary.outlined .ripple,
.primary.text .ripple {
  background-color: var(--btn-ripple-primary-outlined);
}

.secondary.contained .ripple {
  background-color: var(--btn-ripple-secondary-contained);
}

.secondary.outlined .ripple,
.secondary.text .ripple {
  background-color: var(--btn-ripple-secondary-outlined);
}
